<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
  
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3>Northwind MVC</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
               @RenderPage("Nav.cshtml")
            </div>
        </div>
        @RenderBody()
    </div>
    @Styles.Render("~/Content/themes/base/css",  "~/Content/bootstrap")
    @Scripts.Render("~/bundles/jqueryui",  "~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<script>
    
    $('body').on('click', '.modal-link', function (e) {
        e.preventDefault();
        //$(this).attr('data-target', '#modal-container');
        //$(this).attr('data-toggle', 'modal');
    });
</script>
